In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r'C:\Users\ks\Desktop\Ineuron_pythonProject\30-07 Pandas day2\AgentPerformance (1).xlsx',header=1)

C:\Users\ks\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6

In [4]:
df1=pd.read_excel(r'C:\Users\ks\Desktop\Ineuron_pythonProject\30-07 Pandas day2\Agent_Login_Report (4).xls',header=2)

In [5]:
df1.head()

   SL No               Agent       Date   Login Time  Logout Time  Duration
0      1  Shivananda Sonwane  30-Jul-22  03:35:29 PM  05:39:39 PM  02:04:10
1      2      Khushboo Priya  30-Jul-22  03:06:59 PM  03:07:16 PM  00:00:17
2      3       Nandani Gupta  30-Jul-22  03:04:24 PM  05:31:07 PM  02:26:42
3      4     Hrisikesh Neogi  30-Jul-22  02:34:29 PM  03:19:35 PM  00:45:06
4      5             Mukesh   30-Jul-22  02:03:15 PM  03:11:52 PM  01:08:36

In [6]:
df.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object

## 1.Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave.

In [7]:
df['date']=pd.to_datetime(df['Date'])

In [8]:
df.head(1)

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30

In [9]:
df['date_week']=df['date'].dt.isocalendar().week

In [10]:
df['date_week']

0       30
1       30
2       30
3       30
4       30
        ..
2155    26
2156    26
2157    26
2158    26
2159    26
Name: date_week, Length: 2160, dtype: UInt32

In [11]:
df['date_days']=df['date'].dt.day

In [12]:
df_mean=df.groupby(['Agent Name','date_week'])['Average Rating'].mean().to_frame()

In [15]:
df_mean

                      Average Rating
Agent Name date_week
Abhishek   26               0.000000
           27               0.000000
           28               0.000000
           29               0.000000
           30               0.000000
...                              ...
Zeeshan    26               0.000000
           27               1.307143
           28               2.948571
           29               3.180000
           30               2.760000

[350 rows x 1 columns]

In [17]:
df1.head()

   SL No               Agent       Date   Login Time  Logout Time  Duration
0      1  Shivananda Sonwane  30-Jul-22  03:35:29 PM  05:39:39 PM  02:04:10
1      2      Khushboo Priya  30-Jul-22  03:06:59 PM  03:07:16 PM  00:00:17
2      3       Nandani Gupta  30-Jul-22  03:04:24 PM  05:31:07 PM  02:26:42
3      4     Hrisikesh Neogi  30-Jul-22  02:34:29 PM  03:19:35 PM  00:45:06
4      5             Mukesh   30-Jul-22  02:03:15 PM  03:11:52 PM  01:08:36

## 2 .Total working days for each agents

In [18]:
df1.groupby('Agent')['Date'].count()

Agent
Aditya Shinde               1
Aditya_iot                  9
Amersh                      4
Ameya Jain                 10
Ankitjha                    4
Anurag Tiwari              37
Aravind                    10
Ayushi Mishra              18
Bharath                     9
Boktiar Ahmed Bappy        17
Chaitra K Hiremath         13
Deepranjan Gupta           58
Dibyanshu                 208
Harikrishnan Shaji         23
Hrisikesh Neogi            37
Hyder Abbas                 2
Ineuron Intelligence        1
Ishawant Kumar             49
Jawala Prakash             16
Jaydeep Dixit              11
Khushboo Priya             18
Madhulika G                17
Mahesh Sarade              36
Maitry                      5
Manjunatha A                8
Mithun S                   14
Mukesh                      3
Muskan Garg                12
Nandani Gupta              11
Nishtha Jain               18
Nitin M                     1
Prabir Kumar Satapathy     26
Prateek _iot               17
Prerna Singh               18
Rishav Dash                12
Saikumarreddy N            10
Sanjeev Kumar              20
Saurabh Shukla             40
Shiva Srivastava           15
Shivan K                   36
Shivananda Sonwane         15
Shubham Sharma             35
Sowmiya Sivakumar          24
Sudhanshu Kumar            11
Suraj S Bilgi               5
Swati                       5
Tarun                       1
Wasim                      20
Zeeshan                    10
Name: Date, dtype: int64

## 3. Total query that you have taken

In [19]:
df.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

## 4. Total Feedback that you have received

In [20]:
df.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

## 5. Agent name who have average rating between 3.5 to 4

In [21]:
df[(df['Average Rating']>3.5) & (df['Average Rating']<4)]['Agent Name']

4                    Swati
10             Manjunatha A
76            Prateek _iot
78            Nandani Gupta
80            Jaydeep Dixit
               ...
1869    Boktiar Ahmed Bappy
1874          Ayushi Mishra
1941         Jawala Prakash
2021          Aditya Shinde
2023       Deepranjan Gupta
Name: Agent Name, Length: 78, dtype: object

## 6 . Agent name who have rating lesss then 3.5

In [22]:
df[(df['Average Rating']<= 3.5)]['Agent Name']

1            Nandani Gupta
19        Hitesh Choudhary
20              Sanjeevan
21                Anirudh
22        Shiva Srivastava
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 1477, dtype: object

## 7 . Agent name who have rating more then 4.5

In [24]:
df[(df['Average Rating'] > 4.5)]['Agent Name']

2               Ameya Jain
3            Mahesh Sarade
5                  Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

## 8 . How many feedaback agents have received more then 4.5 average

In [29]:
df[df['Average Rating']>4.5].groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Aditya Shinde              73
Aditya_iot                 43
Ameya Jain                150
Anirudh                     2
Ankitjha                    1
Aravind                   178
Ayushi Mishra              75
Bharath                   231
Boktiar Ahmed Bappy        52
Chaitra K Hiremath          5
Deepranjan Gupta           83
Harikrishnan Shaji         80
Hrisikesh Neogi           183
Ishawant Kumar             79
Jawala Prakash             33
Jayant Kumar                7
Jaydeep Dixit             179
Khushboo Priya            134
Madhulika G                67
Mahesh Sarade              46
Maitry                     81
Manjunatha A              132
Mithun S                   93
Mukesh                     17
Mukesh Rao                  1
Muskan Garg                14
Nandani Gupta              91
Nishtha Jain               18
Prabir Kumar Satapathy     53
Prateek _iot               54
Prerna Singh               82
Rishav Dash                27
Saikumarreddy N           184
Sandipan Saha               1
Sanjeev Kumar             164
Saurabh Shukla              3
Shiva Srivastava            2
Shivan K                  130
Shivananda Sonwane        154
Shubham Sharma            155
Sowmiya Sivakumar          16
Sudhanshu Kumar             2
Suraj S Bilgi               4
Swati                     103
Vivek                       3
Wasim                     156
Zeeshan                    48
Name: Total Feedback, dtype: int64

## 9 . Average weekly response time for each agent

In [30]:
def get_secs(time_str):
    hh,mm,ss=time_str.split(':')
    return int(hh)*3600+int(mm)*60+int(ss)

In [31]:
df['avg_response_sec']=df['Average Response Time'].apply(get_secs)

In [32]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date,date_week,date_days,avg_response_sec
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30,30,30,38
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30,30,30,75
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,30,30,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,30,30,64
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,30,30,71

In [33]:
df.groupby(['Agent Name','date_week'])['avg_response_sec'].mean()

Agent Name  date_week
Abhishek    26             0.000000
            27             0.000000
            28             0.000000
            29             0.000000
            30             0.000000
                            ...
Zeeshan     26             0.000000
            27            23.571429
            28           123.428571
            29            62.857143
            30            63.833333
Name: avg_response_sec, Length: 350, dtype: float64

## 10 . Average weekly resolution time for each agents

In [34]:
df['avg_resolution_time_sec']=df['Average Resolution Time'].apply(get_secs)

In [35]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date,date_week,date_days,avg_response_sec,avg_resolution_time_sec
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30,30,30,38,260
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30,30,30,75,1705
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,30,30,30,696
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,30,30,64,946
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,30,30,71,993

In [36]:
df.groupby(['Agent Name','date_week'])['avg_resolution_time_sec'].mean()

Agent Name  date_week
Abhishek    26             0.000000
            27             0.000000
            28             0.000000
            29             0.000000
            30             0.000000
                            ...
Zeeshan     26             0.000000
            27           323.000000
            28           984.285714
            29           794.285714
            30           773.500000
Name: avg_resolution_time_sec, Length: 350, dtype: float64

## 11 . List of all agents name

In [38]:
list(df['Agent Name'])

['Prerna Singh',
 'Nandani Gupta',
 'Ameya Jain',
 'Mahesh Sarade',
 'Swati ',
 'Mukesh ',
 'Saikumarreddy N',
 'Sanjeev Kumar',
 'Shubham Sharma',
 'Nishtha Jain',
 'Manjunatha A',
 'Khushboo Priya',
 'Suraj S Bilgi',
 'Harikrishnan Shaji',
 'Hrisikesh Neogi',
 'Shivan K',
 'Sowmiya Sivakumar',
 'Madhulika G',
 'Mithun S',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Anirudh ',
 'Shiva Srivastava',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Aditya_iot ',
 'Prabir Kumar Satapathy',
 'Saurabh Shukla',
 'Wasim ',
 'Samprit ',
 'Maitry ',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Tarun ',
 'Muskan Garg',
 'Ankit Sharma',
 'Bharath ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Sandipan Saha',
 'Ineuron Intelligence ',
 'Mahak ',
 'Mukesh Rao ',
 'Zeeshan ',
 'Rishav Dash',
 'Anurag Tiwari',
 'Ankitjha ',
 'Saif Khan',
 'Jaydeep Dixit',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Ashish ',
 'Rohan ',
 'Vivek ',
 'Nitin M',
 'Shivan_S ',
 'Spuri ',
 'Ayushi Mishra',
 'Chaitra K Hiremath',
 'Prateek _iot ',
 'Boktiar Ahmed Bappy',
 'Shivananda Sonwane',
 'Ishawant Kumar',
 'Deepranjan Gupta',
 'Jawala Prakash',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Shiva Srivastava',
 'Muskan Garg',
 'Prateek _iot ',
 'Aditya_iot ',
 'Nandani Gupta',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Sanjeev Kumar',
 'Mahesh Sarade',
 'Zeeshan ',
 'Mukesh ',
 'Chaitra K Hiremath',
 'Suraj S Bilgi',
 'Shivan K',
 'Mithun S',
 'Rishav Dash',
 'Madhulika G',
 'Hrisikesh Neogi',
 'Sowmiya Sivakumar',
 'Wasim ',
 'Prabir Kumar Satapathy',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Nishtha Jain',
 'Jayant Kumar',
 'Swati ',
 'Saurabh Shukla',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Khushboo Priya',
 'Maitry ',
 'Tarun ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Shubham Sharma',
 'Ineuron Intelligence ',
 'Mahak ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Manjunatha A',
 'Ameya Jain',
 'Ankitjha ',
 'Anurag Tiwari',
 'Saif Khan',
 'Ashish ',
 'Harikrishnan Shaji',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Saikumarreddy N',
 'Rohan ',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Spuri ',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Ayushi Mishra',
 'Deepranjan Gupta',
 'Ayushi Mishra',
 'Shiva Srivastava',
 'Muskan Garg',
 'Deepranjan Gupta',
 'Aditya_iot ',
 'Prateek _iot ',
 'Shubham Sharma',
 'Ameya Jain',
 'Jaydeep Dixit',
 'Saikumarreddy N',
 'Zeeshan ',
 'Chaitra K Hiremath',
 'Rishav Dash',
 'Khushboo Priya',
 'Wasim ',
 'Nishtha Jain',
 'Harikrishnan Shaji',
 'Manjunatha A',
 'Prabir Kumar Satapathy',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeev Kumar',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Hrisikesh Neogi',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Swati ',
 'Mithun S',
 'Prerna Singh',
 'Saurabh Shukla',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Maitry ',
 'Tarun ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Ankitjha ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ashish ',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Suraj S Bilgi',
 'Rohan ',
 'Nandani Gupta',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Shivan K',
 'Spuri ',
 'Mahesh Sarade',
 'Madhulika G',
 'Sowmiya Sivakumar',
 'Ishawant Kumar',
 'Shivananda Sonwane',
 'Jawala Prakash',
 'Boktiar Ahmed Bappy',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Shiva Srivastava',
 'Muskan Garg',
 'Prateek _iot ',
 'Aditya_iot ',
 'Prerna Singh',
 'Mahesh Sarade',
 'Sanjeev Kumar',
 'Nandani Gupta',
 'Saikumarreddy N',
 'Zeeshan ',
 'Ameya Jain',
 'Shubham Sharma',
 'Chaitra K Hiremath',
 'Ankitjha ',
 'Nishtha Jain',
 'Khushboo Priya',
 'Mithun S',
 'Wasim ',
 'Sowmiya Sivakumar',
 'Hrisikesh Neogi',
 'Harikrishnan Shaji',
 'Manjunatha A',
 'Madhulika G',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Swati ',
 'Prabir Kumar Satapathy',
 'Saurabh Shukla',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Tarun ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Rishav Dash',
 'Saif Khan',
 'Anurag Tiwari',
 'Ashish ',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Suraj S Bilgi',
 'Rohan ',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Shivan K',
 'Spuri ',
 'Jaydeep Dixit',
 'Maitry ',
 'Shivananda Sonwane',
 'Ayushi Mishra',
 'Boktiar Ahmed Bappy',
 'Deepranjan Gupta',
 'Maitry ',
 'Shiva Srivastava',
 'Muskan Garg',
 'Ankitjha ',
 'Aditya_iot ',
 'Prateek _iot ',
 'Nandani Gupta',
 'Saikumarreddy N',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Chaitra K Hiremath',
 'Sanjeev Kumar',
 'Mahesh Sarade',
 'Harikrishnan Shaji',
 'Shivan K',
 'Sowmiya Sivakumar',
 'Khushboo Priya',
 'Hrisikesh Neogi',
 'Mithun S',
 'Madhulika G',
 'Wasim ',
 'Rishav Dash',
 'Prabir Kumar Satapathy',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Nishtha Jain',
 'Jayant Kumar',
 'Swati ',
 'Saurabh Shukla',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Tarun ',
 'Bharath ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Shubham Sharma',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Zeeshan ',
 'Mukesh Rao ',
 'Manjunatha A',
 'Ameya Jain',
 'Saif Khan',
 'Anurag Tiwari',
 'Ashish ',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Suraj S Bilgi',
 'Rohan ',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Spuri ',
 'Ishawant Kumar',
 'Boktiar Ahmed Bappy',
 'Ayushi Mishra',
 'Deepranjan Gupta',
 'Jawala Prakash',
 'Shivananda Sonwane',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Shiva Srivastava',
 'Prateek _iot ',
 'Aditya_iot ',
 'Muskan Garg',
 'Ameya Jain',
 'Sanjeev Kumar',
 'Swati ',
 'Prerna Singh',
 'Shubham Sharma',
 'Zeeshan ',
 'Jaydeep Dixit',
 'Chaitra K Hiremath',
 'Shivan K',
 'Harikrishnan Shaji',
 'Rishav Dash',
 'Sowmiya Sivakumar',
 'Mithun S',
 'Manjunatha A',
 'Wasim ',
 'Bharath ',
 'Nishtha Jain',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Hrisikesh Neogi',
 'Aditya Shinde',
 'Uday Mishra',
 'Jayant Kumar',
 'Prabir Kumar Satapathy',
 'Saurabh Shukla',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Rishav Dash',
 'Khushboo Priya',
 'Aravind ',
 'Tarun ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Maneesh ',
 'Hyder Abbas',
 'Sudhanshu Kumar',
 'Saikumarreddy N',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Nandani Gupta',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Mahesh Sarade',
 'Madhulika G',
 'Jawala Prakash',
 'Maitry ',
 'Deepranjan Gupta',
 'Ishawant Kumar',
 'Ayushi Mishra',
 'Shiva Srivastava',
 'Jawala Prakash',
 'Deepranjan Gupta',
 'Ishawant Kumar',
 'Jaydeep Dixit',
 'Swati ',
 'Shubham Sharma',
 'Mahesh Sarade',
 'Ameya Jain',
 'Aravind ',
 'Zeeshan ',
 'Saikumarreddy N',
 'Nishtha Jain',
 'Khushboo Priya',
 'Shivan K',
 'Madhulika G',
 'Rishav Dash',
 'Prabir Kumar Satapathy',
 'Manjunatha A',
 'Hrisikesh Neogi',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Sanjeev Kumar',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Aditya Shinde',
 'Uday Mishra',
 'Aditya_iot ',
 'Jayant Kumar',
 'Hyder Abbas',
 'Mithun S',
 'Saurabh Shukla',
 'Wasim ',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Prerna Singh',
 'Rishav Dash',
 'Tarun ',
 'Muskan Garg',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Harikrishnan Shaji',
 'Ashish ',
 'Prateek _iot ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Nandani Gupta',
 'Shivan_S ',
 'Nitin M',
 'Vivek ',
 'Chaitra K Hiremath',
 'Sowmiya Sivakumar',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Ayushi Mishra',
 'Maitry ',
 'Shiva Srivastava',
 'Ayushi Mishra',
 'Maitry ',
 'Nandani Gupta',
 'Shubham Sharma',
 'Prerna Singh',
 'Swati ',
 'Ameya Jain',
 'Mahesh Sarade',
 'Aravind ',
 'Sanjeev Kumar',
 'Saikumarreddy N',
 'Nishtha Jain',
 'Khushboo Priya',
 'Harikrishnan Shaji',
 'Sowmiya Sivakumar',
 'Shivan K',
 'Madhulika G',
 'Hrisikesh Neogi',
 'Mithun S',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Aditya_iot ',
 'Jayant Kumar',
 'Hyder Abbas',
 'Saurabh Shukla',
 'Prabir Kumar Satapathy',
 'Wasim ',
 'Deepranjan Gupta',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Rishav Dash',
 'Tarun ',
 'Muskan Garg',
 'Bharath ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Zeeshan ',
 'Manjunatha A',
 'Rishav Dash',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Prateek _iot ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Shivan_S ',
 'Nitin M',
 'Vivek ',
 'Jaydeep Dixit',
 'Chaitra K Hiremath',
 'Ishawant Kumar',
 'Shivananda Sonwane',
 'Jawala Prakash',
 'Boktiar Ahmed Bappy',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Prateek _iot ',
 'Aditya_iot ',
 'Nandani Gupta',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Aravind ',
 'Zeeshan ',
 'Mahesh Sarade',
 'Sanjeev Kumar',
 'Chaitra K Hiremath',
 'Rishav Dash',
 'Wasim ',
 'Nishtha Jain',
 'Madhulika G',
 'Khushboo Priya',
 'Sowmiya Sivakumar',
 'Prabir Kumar Satapathy',
 'Mithun S',
 'Shivan K',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Dibyanshu ',
 'Ashish ',
 'Hrisikesh Neogi',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Swati ',
 'Hyder Abbas',
 'Saurabh Shukla',
 'Deepranjan Gupta',
 'Rishav Dash',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Tarun ',
 'Muskan Garg',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Shubham Sharma',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Manjunatha A',
 'Ameya Jain',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Harikrishnan Shaji',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Saikumarreddy N',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Ishawant Kumar',
 'Ayushi Mishra',
 'Maitry ',
 'Jawala Prakash',
 'Ayushi Mishra',
 'Aditya_iot ',
 'Prateek _iot ',
 'Deepranjan Gupta',
 'Ameya Jain',
 'Jaydeep Dixit',
 'Shubham Sharma',
 'Zeeshan ',
 'Saikumarreddy N',
 'Wasim ',
 'Hrisikesh Neogi',
 'Harikrishnan Shaji',
 'Prabir Kumar Satapathy',
 'Rishav Dash',
 'Manjunatha A',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Sanjeev Kumar',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Dibyanshu ',
 'Ashish ',
 'Nishtha Jain',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Swati ',
 'Hyder Abbas',
 'Mithun S',
 'Saurabh Shukla',
 'Rishav Dash',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Prerna Singh',
 'Khushboo Priya',
 'Aravind ',
 'Tarun ',
 'Muskan Garg',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Nandani Gupta',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Shivan K',
 'Mahesh Sarade',
 'Madhulika G',
 'Chaitra K Hiremath',
 'Sowmiya Sivakumar',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Maitry ',
 'Jawala Prakash',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Ishawant Kumar',
 'Aditya_iot ',
 'Prateek _iot ',
 'Prerna Singh',
 'Hrisikesh Neogi',
 'Swati ',
 'Ameya Jain',
 'Shubham Sharma',
 'Mahesh Sarade',
 'Zeeshan ',
 'Sanjeev Kumar',
 'Saikumarreddy N',
 'Nandani Gupta',
 'Khushboo Priya',
 'Madhulika G',
 'Wasim ',
 'Manjunatha A',
 'Mithun S',
 'Bharath ',
 'Aravind ',
 'Harikrishnan Shaji',
 'Sowmiya Sivakumar',
 'Nishtha Jain',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Hyder Abbas',
 'Saurabh Shukla',
 'Prabir Kumar Satapathy',
 'Deepranjan Gupta',
 'Rishav Dash',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Tarun ',
 'Muskan Garg',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Ineuron Intelligence ',
 'Mahak ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Rishav Dash',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Rohan ',
 'Spuri ',
 'Suraj S Bilgi',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Shivan K',
 'Jaydeep Dixit',
 'Chaitra K Hiremath',
 'Ayushi Mishra',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Maitry ',
 'Maitry ',
 'Prateek _iot ',
 'Aditya_iot ',
 'Saikumarreddy N',
 'Prerna Singh',
 'Harikrishnan Shaji',
 'Nandani Gupta',
 'Sanjeev Kumar',
 'Mahesh Sarade',
 'Jaydeep Dixit',
 'Aravind ',
 'Shivan K',
 'Madhulika G',
 'Khushboo Priya',
 'Sowmiya Sivakumar',
 'Rishav Dash',
 'Wasim ',
 'Hrisikesh Neogi',
 'Prabir Kumar Satapathy',
 'Mithun S',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Ashish ',
 'Dibyanshu ',
 'Aditya Shinde',
 'Nishtha Jain',
 'Uday Mishra',
 'Jayant Kumar',
 'Hyder Abbas',
 'Swati ',
 'Saurabh Shukla',
 'Bharath ',
 'Rishav Dash',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Muskan Garg',
 'Tarun ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Shubham Sharma',
 'Ineuron Intelligence ',
 'Mahak ',
 'Sandipan Saha',
 'Ameya Jain',
 'Zeeshan ',
 'Mukesh Rao ',
 'Manjunatha A',
 'Saif Khan',
 'Ankitjha ',
 'Anurag Tiwari',
 'Ashish ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Spuri ',
 'Rohan ',
 'Suraj S Bilgi',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Chaitra K Hiremath',
 'Shivananda Sonwane',
 'Ishawant Kumar',
 'Boktiar Ahmed Bappy',
 'Jawala Prakash',
 'Ayushi Mishra',
 'Deepranjan Gupta',
 'Ayushi Mishra',
 'Jawala Prakash',
 'Deepranjan Gupta',
 'Shivananda Sonwane',
 'Prateek _iot ',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Shubham Sharma',
 'Nandani Gupta',
 'Harikrishnan Shaji',
 'Aditya_iot ',
 'Sanjeev Kumar',
 'Zeeshan ',
 'Ameya Jain',
 'Rishav Dash',
 'Wasim ',
 'Shivan K',
 'Mithun S',
 'Bharath ',
 'Prabir Kumar Satapathy',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Ashish ',
 'Dibyanshu ',
 'Hrisikesh Neogi',
 'Aditya Shinde',
 'Uday Mishra',
 'Jayant Kumar',
 'Hyder Abbas',
 'Swati ',
 'Saurabh Shukla',
 'Rishav Dash',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Aravind ',
 'Maitry ',
 'Muskan Garg',
 'Tarun ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Ineuron Intelligence ',
 'Mahak ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Saif Khan',
 'Ankitjha ',
 'Anurag Tiwari',
 'Ashish ',
 'Maneesh ',
 'Saikumarreddy N',
 'Rohan ',
 'Sudhanshu Kumar',
 'Spuri ',
 'Suraj S Bilgi',
 'Shivan_S ',
 'Mahesh Sarade',
 'Vivek ',
 'Nitin M',
 'Madhulika G',
 'Chaitra K Hiremath',
 'Sowmiya Sivakumar',
 'Manjunatha A',
 'Boktiar Ahmed Bappy',
 'Nishtha Jain',
 'Ishawant Kumar',
 'Khushboo Priya',
 'Ishawant Kumar',
 'Khushboo Priya',
 'Nishtha Jain',
 'Boktiar Ahmed Bappy',
 'Manjunatha A',
 'Hrisikesh Neogi',
 'Saikumarreddy N',
 'Aravind ',
 'Wasim ',
 'Shivan K',
 'Nandani Gupta',
 'Mahesh Sarade',
 'Ameya Jain',
 'Prabir Kumar Satapathy',
 'Swati ',
 'Maitry ',
 'Rishav Dash',
 'Mithun S',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Ashish ',
 'Dibyanshu ',
 'Aditya Shinde',
 'Uday Mishra',
 'Aditya_iot ',
 'Jayant Kumar',
 'Hyder Abbas',
 'Saurabh Shukla',
 'Deepranjan Gupta',
 'Bharath ',
 'Rishav Dash',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Prerna Singh',
 'Muskan Garg',
 'Tarun ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Ineuron Intelligence ',
 'Shubham Sharma',
 'Sandipan Saha',
 'Mahak ',
 'Zeeshan ',
 'Mukesh Rao ',
 'Ankitjha ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ashish ',
 'Harikrishnan Shaji',
 'Prateek _iot ',
 'Maneesh ',
 'Rohan ',
 'Spuri ',
 'Suraj S Bilgi',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Jawala Prakash',
 ...]

## 12 . percentage of chat on which they have received a feedback

In [41]:
import numpy as np

In [43]:
df.groupby(['Agent Name','Total Chats'])['Total Feedback'].sum()

Agent Name     Total Chats
Abhishek       0               0
Aditya         0               0
Aditya Shinde  0               0
               8               7
               14              9
                              ..
Zeeshan        36             28
               37             25
               41             25
               46             28
               92             35
Name: Total Feedback, Length: 638, dtype: int64

## 13 . Total contributation hour for each and every agents weekly basis

In [47]:
df1.head()

   SL No               Agent       Date   Login Time  Logout Time  Duration
0      1  Shivananda Sonwane 2022-07-30  03:35:29 PM  05:39:39 PM  02:04:10
1      2      Khushboo Priya 2022-07-30  03:06:59 PM  03:07:16 PM  00:00:17
2      3       Nandani Gupta 2022-07-30  03:04:24 PM  05:31:07 PM  02:26:42
3      4     Hrisikesh Neogi 2022-07-30  02:34:29 PM  03:19:35 PM  00:45:06
4      5             Mukesh  2022-07-30  02:03:15 PM  03:11:52 PM  01:08:36

In [48]:
df1.dtypes

SL No                   int64
Agent                  object
Date           datetime64[ns]
Login Time             object
Logout Time            object
Duration               object
dtype: object

In [46]:
df1['Date'] = pd.to_datetime(df1['Date'])

In [50]:
df1['Total_duration_sec']=df1['Duration'].apply(get_secs)

In [56]:
df1['week'] = df1['Date'].dt.isocalendar().week

In [57]:
df1.head()

,SL No,Agent,Date,Login Time,Logout Time,Duration,Total_duration_sec,hours,week
0,1,Shivananda Sonwane,2022-07-30,03:35:29 PM,05:39:39 PM,02:04:10,7450,2,30
1,2,Khushboo Priya,2022-07-30,03:06:59 PM,03:07:16 PM,00:00:17,17,0,30
2,3,Nandani Gupta,2022-07-30,03:04:24 PM,05:31:07 PM,02:26:42,8802,2,30
3,4,Hrisikesh Neogi,2022-07-30,02:34:29 PM,03:19:35 PM,00:45:06,2706,0,30
4,5,Mukesh,2022-07-30,02:03:15 PM,03:11:52 PM,01:08:36,4116,1,30

In [52]:
df1.dtypes

SL No                          int64
Agent                         object
Date                  datetime64[ns]
Login Time                    object
Logout Time                   object
Duration                      object
Total_duration_sec             int64
dtype: object

In [54]:
df1['hours']=df1['Total_duration_sec']//3600

In [58]:
df1.groupby(['Agent','week'])['hours'].mean()

Agent          week
Aditya Shinde  30        0.000000
Aditya_iot     29        1.666667
               30        1.166667
Amersh         30        0.500000
Ameya Jain     29        3.000000
                          ...
Tarun          26      514.000000
Wasim          29        2.000000
               30        2.272727
Zeeshan        29        3.833333
               30        6.000000
Name: hours, Length: 89, dtype: float64

## 14. total percentage of active hour for a month

In [60]:
df1['month'] = df1['Date'].dt.month
df1.head()

,SL No,Agent,Date,Login Time,Logout Time,Duration,Total_duration_sec,hours,week,month
0,1,Shivananda Sonwane,2022-07-30,03:35:29 PM,05:39:39 PM,02:04:10,7450,2,30,7
1,2,Khushboo Priya,2022-07-30,03:06:59 PM,03:07:16 PM,00:00:17,17,0,30,7
2,3,Nandani Gupta,2022-07-30,03:04:24 PM,05:31:07 PM,02:26:42,8802,2,30,7
3,4,Hrisikesh Neogi,2022-07-30,02:34:29 PM,03:19:35 PM,00:45:06,2706,0,30,7
4,5,Mukesh,2022-07-30,02:03:15 PM,03:11:52 PM,01:08:36,4116,1,30,7

In [64]:
(df1['hours']/df1.groupby(['month'])['hours'].transform('sum'))*100

0       0.105097
1       0.000000
2       0.105097
3       0.000000
4       0.052549
         ...
995     0.262743
996     0.315292
997     0.262743
998     0.262743
999    27.009984
Name: hours, Length: 1000, dtype: float64